{% if menu %}

  <ul class="list-reset flex flex-col lg:flex-row">

    {% for item in menu %}
      {% if loop.last %}

      <li class="nav-menu-item nav-menu-item-inverted close-menu">
        <a class="anim-underline anim-underline-in" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.twig" with {
          "menu" : item.get_children
        } %}
      </li>

      {% else %}
        
      <li class="nav-menu-item close-menu">
        <a class="anim-underline anim-underline-in" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.twig" with {
          "menu" : item.get_children
        } %}
      </li>
      
      {% endif %}

    {% endfor %}

  </ul>

{% endif %}