{% extends "core/base.twig" %}



{% set main_class = ['page-white'] %}
{% set fromColor = 'blue' %}
{% set toColor = 'white' %}
{% set bgColor = 'bg-blue' %}
{% if post.category.slug == 'koffie' %}
{% set main_class = ['page-pink'] %}
{% set fromColor = 'orange' %}
{% set toColor = 'white-orange' %}
{% set bgColor = 'bg-orange' %}
{% endif %}

{% set spacer_class = ['bg-white'] %}

{% block main %}

  <section class="section header-offset {{ bgColor }} text-white header-color-changer" data-from="{{ fromColor }}" data-to="{{ toColor }}">
    <div class="container show-all">

      <div class="row">
        <div class="col w-full md:w-9/12 lg:w-6/12 lg:ml-1/12">
          <h3 class="font-h3">{{ post.title }}</h3>
          <p class="font-label font-normal uppercase pt-2">
            {{ post.date|date('d-m-Y') }}
            {% if post.meta("post_author") != "" %}
              &mdash; door
              {{ post.meta('post_author') }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="section relative pt-0">
    <div class="container relative z-20">
      <div class="w-full verhaal-image">
        {% include "components/image.twig" with {
          image : post.thumbnail
        } %}
      </div>
    </div>
          <div class="w-full absolute inset-0 z-10">
        <div class="{{ bgColor }} w-full h-6/12"></div>
        <div class="header-color-changer" data-from="{{ toColor }}" data-to="{{ fromColor }}"></div>
      </div>
  </section>

  {{ post.content }}

  {% include "blocks/common/verhalen-swiper-all.twig" with { 
    skip: post.id
  } %}

  {% if post.category.slug == 'koffie' %}
  <style>
    .footer-main {
      background: #FF4D0A;
    }
  </style>
  {% else %}
      <style>
    .footer-main {
      background: #00205C;
    }
  </style>
  {% endif %}
{% endblock %}
